In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("https://gist.githubusercontent.com/yanwarsolah/c1df024de2ca2ef895b79ab21a55ee78/raw/50b7dc48345618e3d7d111347bde02cd6b287ea7/data_sales_week3.csv")
print(df)

      ORDERNUMBER  QUANTITYORDERED  PRICEEACH  ORDERLINENUMBER    SALES  \
0           10107               30      95.70                2  2871.00
1           10121               34      81.35                5  2765.90
2           10134               41      94.74                2  3884.34
3           10145               45      83.26                6  3746.70
4           10159               49     100.00               14  5205.27
...           ...              ...        ...              ...      ...
2818        10350               20     100.00               15  2244.40
2819        10373               29     100.00                1  3978.51
2820        10386               43     100.00                4  5417.57
2821        10397               34      62.24                1  2116.16
2822        10414               47      65.52                9  3079.44

            ORDERDATE    STATUS  QTR_ID  MONTH_ID  YEAR_ID  ...  \
0      2/24/2003 0:00   Shipped       1         2     2003  ...
1       5/7/2003 0:00   Shipped       2         5     2003  ...
2       7/1/2003 0:00   Shipped       3         7     2003  ...
3      8/25/2003 0:00   Shipped       3         8     2003  ...
4     10/10/2003 0:00   Shipped       4        10     2003  ...
...               ...       ...     ...       ...      ...  ...
2818   12/2/2004 0:00   Shipped       4        12     2004  ...
2819   1/31/2005 0:00   Shipped       1         1     2005  ...
2820    3/1/2005 0:00  Resolved       1         3     2005  ...
2821   3/28/2005 0:00   Shipped       1         3     2005  ...
2822    5/6/2005 0:00   On Hold       2         5     2005  ...

                       ADDRESSLINE1  ADDRESSLINE2           CITY STATE  \
0           897 Long Airport Avenue           NaN            NYC    NY
1                59 rue de l'Abbaye           NaN          Reims   NaN
2     27 rue du Colonel Pierre Avia           NaN          Paris   NaN
3                78934 Hillside Dr.           NaN       Pasadena    CA
4                   7734 Strong St.           NaN  San Francisco    CA
...                             ...           ...            ...   ...
2818             C/ Moralzarzal, 86           NaN         Madrid   NaN
2819                    Torikatu 38           NaN           Oulu   NaN
2820             C/ Moralzarzal, 86           NaN         Madrid   NaN
2821          1 rue Alsace-Lorraine           NaN       Toulouse   NaN
2822             8616 Spinnaker Dr.           NaN         Boston    MA

     POSTALCODE  COUNTRY TERRITORY CONTACTLASTNAME CONTACTFIRSTNAME DEALSIZE
0         10022      USA       NaN              Yu             Kwai    Small
1         51100   France      EMEA         Henriot             Paul    Small
2         75508   France      EMEA        Da Cunha           Daniel   Medium
3         90003      USA       NaN           Young            Julie   Medium
4           NaN      USA       NaN           Brown            Julie   Medium
...         ...      ...       ...             ...              ...      ...
2818      28034    Spain      EMEA          Freyre            Diego    Small
2819      90110  Finland      EMEA       Koskitalo           Pirkko   Medium
2820      28034    Spain      EMEA          Freyre            Diego   Medium
2821      31000   France      EMEA          Roulet          Annette    Small
2822      51003      USA       NaN         Yoshido             Juri   Medium

[2823 rows x 25 columns]

### 1. Dapatkan nilai penjualan tertinggi untuk negara USA kota San Francisco?

In [ ]:
df_usa_max = df[(df.COUNTRY == 'USA') & (df.CITY == 'San Francisco')]['SALES']
print(df_usa_max.max())

11336.7

### 2.Dapatkan nilai jumlah pemesanan (QUANTITYORDERED), harga (PRICEEACH) dan penjualan (SALES) tertinggi berdasarkan negara (COUNTRY) Spain yang statusnya (STATUS) bukan Disputed pada tahun 2003.

In [ ]:
df_spain = df[(df.COUNTRY == 'Spain') & (df.STATUS != 'Disputed') & (df.YEAR_ID == 2003)]
hasil = df_spain[['QUANTITYORDERED', 'PRICEEACH','SALES']].max()
print(hasil)

QUANTITYORDERED      50.00
PRICEEACH           100.00
SALES              8291.04
dtype: float64

### 3.Berapa total penjualan terendah dan tertinggi untuk setiap status yang sudah dikirim?

In [ ]:
result = df[df.STATUS == 'Shipped']['SALES'].aggregate(['min', 'max'])
result

min      553.95
max    12536.50
Name: SALES, dtype: float64

### 4. Tampilkan data penjualan untuk negara perancis dengan ketentuan sebagai berikut:

1. Kolom yang ditampilkan hanya `COUNTRY`, `QUANTITYORDERED`, `PRICEEACH` dan `SALES`.
2. Sorting datanya berdasarkan kolom `SALES` secara descending.

In [ ]:
df_france = df[df.COUNTRY == 'France']
df_france = df_france[['COUNTRY', 'QUANTITYORDERED', 'PRICEEACH','SALES']]
print(df_france.sort_values(by='SALES', ascending=False))

     COUNTRY  QUANTITYORDERED  PRICEEACH     SALES
1995  France               76     100.00  11739.70
43    France               47     100.00  10172.70
2117  France               43     100.00  10039.60
1558  France               48     100.00   9720.00
2634  France               46     100.00   9558.80
...      ...              ...        ...       ...
22    France               21      34.91    733.11
1717  France               24      30.06    721.44
1557  France               20      35.18    703.60
1553  France               23      30.20    694.60
2249  France               11      43.83    482.13

[314 rows x 4 columns]

### 5.Tampilkan rata-rata, maksimal dan minimum nilai penjualan dari kelompok (group) berbagai negara yang bukan finland dan tahun,  dimana statusnya Shipped.

In [ ]:
hasil = df[(df.COUNTRY != 'Finland') & (df.STATUS == 'Shipped')]\
   .groupby(['COUNTRY', 'YEAR_ID'])['SALES']\
   .aggregate(['mean', 'max', 'mean'])

print(hasil)

                            mean       max         mean
COUNTRY     YEAR_ID
Australia   2003     3287.460390   9264.86  3287.460390
            2004     3575.333538   9774.03  3575.333538
            2005     3469.698000   8470.14  3469.698000
Austria     2003     2975.960556   6916.12  2975.960556
            2004     4307.865833   8118.55  4307.865833
            2005     4014.721176   9240.00  4014.721176
Belgium     2003     1674.230000   1711.26  1674.230000
            2004     3479.306522   6804.63  3479.306522
            2005     5542.720000   6275.72  5542.720000
Canada      2003     3640.633333   9064.89  3640.633333
            2004     2951.654130   6678.00  2951.654130
            2005     3743.663333   6232.00  3743.663333
Denmark     2003     3673.804444   8690.36  3673.804444
            2004     3854.118000   7975.44  3854.118000
France      2003     3594.958851   8892.90  3594.958851
            2004     3406.126994  10172.70  3406.126994
            2005     3905.327647  11739.70  3905.327647
Germany     2003     3335.871905   5590.00  3335.871905
            2004     3668.750732   8940.96  3668.750732
Ireland     2004     3609.776875   8258.00  3609.776875
Italy       2003     3202.926591   8378.69  3202.926591
            2004     3495.192727   9160.36  3495.192727
            2005     2964.995714   5642.83  2964.995714
Japan       2004     3557.677857  10758.00  3557.677857
            2005     3874.534000   7031.52  3874.534000
Norway      2003     3708.162264   8714.70  3708.162264
            2004     3466.596875   8844.12  3466.596875
Philippines 2003     3549.408182   7483.98  3549.408182
            2004     3982.187500   6101.00  3982.187500
Singapore   2003     4041.126829  10993.50  4041.126829
            2004     3315.400857   7020.48  3315.400857
            2005     2254.393333   4175.60  2254.393333
Spain       2003     3494.339569   8291.04  3494.339569
            2004     3582.931488   9534.50  3582.931488
            2005     3491.986610  11887.80  3491.986610
Sweden      2003     4874.500000   7209.11  4874.500000
            2004     3747.494400   7136.19  3747.494400
            2005     3950.840000   6981.00  3950.840000
Switzerland 2004     3797.211613   6761.60  3797.211613
UK          2003     3469.645192   7310.00  3469.645192
            2004     3003.592029   7310.00  3003.592029
            2005     4533.645556  11886.60  4533.645556
USA         2003     3556.261253  11279.20  3556.261253
            2004     3565.463109  12536.50  3565.463109
            2005     3953.179352  10066.60  3953.179352

### 6.Tampilkan total cell atau data yang kosong (tidak valid-NaN) untuk dataset ini.

In [ ]:
df.isna().sum()

ORDERNUMBER            0
QUANTITYORDERED        0
PRICEEACH              0
ORDERLINENUMBER        0
SALES                  0
ORDERDATE              0
STATUS                 0
QTR_ID                 0
MONTH_ID               0
YEAR_ID                0
PRODUCTLINE            0
MSRP                   0
PRODUCTCODE            0
CUSTOMERNAME           0
PHONE                  0
ADDRESSLINE1           0
ADDRESSLINE2        2521
CITY                   0
STATE               1486
POSTALCODE            76
COUNTRY                0
TERRITORY           1074
CONTACTLASTNAME        0
CONTACTFIRSTNAME       0
DEALSIZE               0
dtype: int64

### 7.Periksa dan tampilkan hasil pemeriksaan data duplikat.

In [ ]:
df.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
2818    False
2819    False
2820    False
2821    False
2822    False
Length: 2823, dtype: bool